

:root{
--gold:#D4AF37;
--dark:#070707;
--card:#111111;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:var(--dark);
color:#fff;
overflow-x:hidden;
}

.navbar{
background:rgba(0,0,0,.55);
backdrop-filter:blur(15px);
}

.navbar-brand{
font-size:34px;
font-weight:700;
color:var(--gold)!important;
}

.nav-link{
color:white!important;
margin:0 12px;
}

.hero{

height:100vh;

background:
linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.75)),
url("https://images.unsplash.com/photo-1503376780353-7e6692767b70?auto=format&fit=crop&w=1800&q=80");

background-size:cover;
background-position:center;

display:flex;
align-items:center;

}

.hero h1{

font-size:70px;
font-weight:700;

}

.hero span{

color:var(--gold);

}

.hero p{

font-size:18px;
margin:20px 0 35px;

}

.search-box{

background:white;
border-radius:20px;
padding:25px;
box-shadow:0 20px 50px rgba(0,0,0,.45);

}

.search-box select{

height:55px;

}

.btn-gold{

background:var(--gold);
color:black;
font-weight:600;
height:55px;

}

.btn-gold:hover{

background:#c79d1d;

}

.stats{

margin-top:40px;
display:flex;
gap:40px;

}

.stats h3{

color:var(--gold);

}

